* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post {
  background: white;
  padding: 9px;
}

/* Post Header */
.post_header {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 0.4em;
  position: relative;
  float: left;}

.post_header i {
  position: absolute;
  right: 0;
}

.heading {
  margin-left: 0.4em;
}

.heading .main_heading {
  font-size: 0.8em;
}

.heading .sub_heading {
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.836);
}

.post_header img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

/* Post image */
.post_img img {
  width: 230px;
  height: 230px;
}

/* Post footer */
.post_footer {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

.btn {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;

  cursor: pointer;
}

.btn::before {
  content: "\f004";
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4em;
}

.btn:checked::before {
  content: "\f004";
  font-weight: 700;
  color: red;
}

.left_box {
  display: flex;
  align-items: center;
  float: left;
}

.left_box img {
  width: 25px;
  height: 25px;
  margin-left: 0.4em;
}
.right_box {
  display: flex;
  align-items: center;
  float: right;
}

.right_box img {
  width: 27px;
  height: 27px;
  margin-right: none;
}
.menu-rigth{
position: absolute;
right: -150px;
transform: rotate(90deg);
}
.footer2 .p {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
p{
  font-size: 0.6em;
}
